/* top nav bar */
.navBar {
  display: flex;
  justify-content: end;
  background-color: aqua;
}
.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navBar li {
  display: inline;
  justify-content: space-evenly;
  height: fit-content;
  font-size: 30px;
  padding: 14px 16px;
}

/* header below nav, hides when scrolled */

/* photos of projects, uniform background, scroll effects */

/* footer */
