/* top nav bar */
.navBar {
  display: flex;
  justify-content: end;
  background-color: black;
}
.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navBar li {
  display: inline;
  justify-content: space-evenly;
  height: fit-content;
}

.navBar li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 14px 16px;
}

.navBar li a:hover {
  background-color: blue;
}

/* header below nav, hides when scrolled */
.header {
  background-color: black;
  border: 3px solid green;
  color: white;
}

/* photos of projects, uniform background, scroll effects */
img {
  height: 500px;
  width: 500px;
}
/* footer */
