/* override default styling */
* {
  margin: 0;
}

body {
  line-height: 1.5;
  background-image: url("../images/wooden-grain-texture-4.webp");
  width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* top nav bar */
.navBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;
}
.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navBar li {
  display: inline;
  justify-content: space-evenly;
  height: fit-content;
}

.navBar li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 14px 16px;
}

.navBar li a:hover {
  background-color: blue;
}

.navBar li:not(:last-child) {
  border-right: 1px solid white;
}

/* header below nav, hides when scrolled */
.header {
  color: white;
  height: 100px;
  padding-left: 20px;
  text-shadow: 2px 2px 4px black;
}

/* photos of projects, uniform background, scroll effects */

.projects h3 {
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

/* images on the page */
/* i want to break up the sections and create animations/slide buttons for the images in each section */
.projects img {
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 70%;
}
/* footer */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
  width: 35%;
}
